<div class="contact-info">
	<p class="landing-text">Social Media:</p>
	<div class="icon-wrap">
		<a href="https://psd.sh/github"><i class="fab fa-github"></i></a>
		<a href="https://psd.sh/ig"><i class="fab fa-instagram"></i></a>
		<a href="https://psd.sh/linkedin"><i class="fab fa-linkedin"></i></a>
	</div>
</div>