// --------------------This file contains all application-wide colors.

/// Copy text color
/// @type Color
$text-color: #000000 !default;

/// Main brand color
/// @type Color
$brand-color: #13589c !default;

/// Alt brand color
/// @type Color
$brand-color-alt-red: #dd313d !default;

/// Alt brand color
/// @type Color
$brand-color-alt-pink: #d136b0 !default;

/// Alt brand color
/// @type Color
$brand-color-alt-yellow: #e6e222 !default;

/// Alt brand color
/// @type Color
$brand-color-alt-teal: #1683ad !default;

/// White
/// @type Color
$white: #ffffff !default;

/// Black
/// @type Color
$black: #000000 !default;

/// Light grey
/// @type Color
$light-grey: #f0f0f0 !default;

/// Light grey
/// @type Color
$light-grey-2: #ebebeb !default;

/// Medium grey
/// @type Color
$mid-grey: #a8a8a8 !default;

/// Dark grey
/// @type Color
$dark-grey: #242424 !default;

/// Dark grey
/// @type Color
$dark-grey-2: #494949 !default;
