// --------------------This file contains all application-wide colors.

/// Brand Colors
$brand-color: #13589c !default;
$brand-color-alt-red: #dd313d !default;
$brand-color-alt-pink: #d136b0 !default;
$brand-color-alt-yellow: #e6e222 !default;
$brand-color-alt-teal: #1683ad !default;

// Base Element Colors
$text-color: #ffffff !default;
$headline-color: #ffffff;
$title-color: #000000;
$bg-color: #1d1d1d;
$link-color: #e9ec38;
$nav-color: #2b2b2b;

// Color Names
$white: #ffffff !default;
$black: #000000 !default;
$light-grey: #f0f0f0 !default;
$light-grey-2: #ebebeb !default;
$mid-grey: #a8a8a8 !default;
$dark-grey: #242424 !default;
$dark-grey-2: #494949 !default;
