// --------------------This file contains very basic styles.

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: all 0.5 ease-in-out;
  &:hover {
    text-decoration: underline;
  }
}

body {
  background: $bg-color;
  color: $text-color;
}

p,
div {
  margin-top: 0;
}

h1 {
  text-align: center;
  margin: 0;
}

li {
  margin-bottom: 10px;
  list-style-type: square;
}
