// --------------------All styles related to the box-wrap component.
.box-wrap {
  background: $white;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  h2,
  h3 {
    margin: 0;
    color: $brand-color-alt-red;
  }
}

#readme h1 {
  margin: 0;
  color: $brand-color;
}
