---
permalink: 404.html
layout: "base"
---

{% include "components/logo.njk" %}
<div class="landing-info">
	{{page.headline == "Uh Oh! You hit a 404 ERROR!"}}
	{{page.message == 404 is half of 808 and like the drum machine you need to roll home!"}}
</div>
{% include "components/contact.njk" %}
{% include "components/social.njk" %}
