:root {
	--clr-white: #ffffff;
	--clr-blue: #4682b4;
	--clr-black: #000000;
	--clr-red: #ef404d;
	--clr-yellow: #ffff00;
	--clr-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	--ff-default: 'Poppins', 'Gotham', 'Helvetica', sans-serif;
	--ff-size: 10px;
	--ff-weight: 900;
	--full: 100%;
	--display: flex;
	--reset: 0;
}

/*========================================
			Basic Tags
========================================*/
* {
	margin: var(--reset);
	padding: var(--reset);
	box-sizing: border-box;
	color: var(--clr-white);
}

html, body {
	font-size: var(--ff-size);
	height: var(--full);
}

body {
	font-family: var(--ff-default);
	background: var(--clr-black);
	width: var(--full);
}

a {
	text-decoration: none;
}


/*========================================
			Landing Section
========================================*/
.container {
	width: var(--full);
	height: var(--full);
	background: var(--clr-black);
	display: var(--display);
	justify-content: center;
	align-items: center;
}

/* .landing-Bg {
	width: var(--full);
	height: var(--full);
	background: url(BG.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	display: var(--display);
	justify-content: center;
	align-items: center;
} */

.content {
	display: var(--display);
	justify-content: center;
	flex-direction: column;
}

.landing-info {
	display: var(--display);
	flex-direction: column;
	justify-content: center;
}

.landing-intro {
	margin: 20px 0;
	font-size: 2.6rem;
	font-weight: var(--ff-weight);
	text-align: center;
}

.landing-btn {
	display: var(--display);
}

.landing-btn a {
	display: inline-block;
	background: var(--clr-blue);
	color: var(--clr-white);
	padding: 15px 30px;
	border-radius: 5px;
	margin: 40px auto 20px;
	box-shadow: var(--clr-shadow);
	font-size: 1.8em;
	font-weight: 600;
	letter-spacing: 2px;
	transition: all 300ms ease-in;
}

.fab {
	color: var(--clr-yellow);
}

.landing-btn a:hover {
	background: var(--clr-white);
	cursor: pointer;
	color: var(--clr-blue);
}

.contact-info {
	display: var(--display);
	flex-direction: column;
	align-items: center;
	color: var(--clr-white);
	font-size: 40px;
	margin: 20px 0;
}

.contact-info i {
	margin: 10px;
	font-size: 40px;
}


/*========================================
			landing Logo Section
========================================*/
@-moz-keyframes offset {
	100% {stroke-dashoffset: 0;}
}
@-o-keyframes offset {
	100% {stroke-dashoffset: 0;}
}
@-webkit-keyframes offset {
	100% {stroke-dashoffset: 0;}
}
@keyframes offset {
	100% {stroke-dashoffset: 0;}
}

svg {
	display: block;
	width: 65%;
	padding: 20px 30px;
	margin: 0 auto;
	overflow: visible;
}

#logoNeg * {
	transform-origin: 50% 50%;
}

.logo {
	stroke: var(--clr-white);
	stroke-width: 15;
	stroke-dasharray: 4235;
	stroke-dashoffset: 4235;
	animation: 	offset 2.5s linear forwards,
							scaledown .5s ease-out 2.5s forwards,
							fill 1s ease-out 3s forwards;
}

.logo-404 {
	stroke: var(--clr-white);
	stroke-width: 15;
	fill: var(--clr-white);
	width: 100%
}


/*========================================
			Media Queries
========================================*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	svg {
		width: 75%;
	}

	.landing-intro {
		font-size: 3rem;
	}

	.landing-btn a {
		font-size: 1.8em;
		margin-top: 100px;
		padding: 15px 30px;
	}

	.contact-info i {
		font-size: 40px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	 .landing-intro {
		font-size: 3rem;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	svg {
		width: 100%;
		padding: 50px 30px;
		margin-left: 20px;
	}
}
