/// Font Families
$headline-fonts: "Catseye", cursive !default;
$text-fonts: "Open Sans", "Helvetica", "Arial", sans-serif !default;
$code-fonts: "Fira Code", "Courier New", monospace !default;
$link-fonts: "Kaushan Script", cursive !default;

// Breakpoints
$small: "576px" !default;
$medium: "768px" !default;
$large: "1200px" !default;
$xlarge: "1600px" !default;

// Color Names
$white: #ececec !default;
$grey: #dddddd !default;
$black: #222222 !default;
$dark: #171717 !default;
$blue: #1a6891 !default;
$red: #912930 !default;
$sun: #e9ec38 !default;

// --clr-white: #ffffff;
// --clr-blue: #4682b4;
// --clr-black: #000000;
// --clr-red: #ef404d;
// --clr-yellow: #ffff00;
// --clr-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
// --ff-default: 'Poppins', 'Gotham', 'Helvetica', sans-serif;
// --ff-size: 10px;
// --ff-weight: 900;
// --full: 100%;
// --display: flex;
// --reset: 0;



:root {
  --body-bg: #{$black};
  --menu-bg: #{$dark};
  --text-color: #{$white};
  --primary: #{$blue};
  --secondary: #{$sun};
  --sun: #{$sun};

  --font-size: 1.8rem;
  --main-font: #{$text-fonts};
  --headline-font: #{$headline-fonts};
  --code-font: #{$code-fonts};
  --link-font: #{$link-fonts};

  --icon-size: 2rem;
  --icon-color: $sun;
  --radius: 0.5rem;
}
