<title>Pavel Sanchez: Engineer, Designer &amp; Lettering Artist</title>
<meta charset="UTF-8" />
<meta name="description" content="Portfolio of graphic/web designer, developer, and calligraphy artist, Pavel Sanchez." />
<meta name="author" content="Pavel Sanchez" />
<meta name="theme-color" content="#000000" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Poppins:300,400,500,600,700" rel="stylesheet" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-oi8o31xSQq8S0RpBcb4FaLB8LJi9AT8oIdmS1QldR8Ui7KUQjNAnDlJjp55Ba8FG" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="/style.css" />